<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="post">
        <label>email:
            <input type="email" placeholder="enter email" name="email" value="<%= locals.email%>">
        </label>
        
        <br>

        <label>password:
            <input type="password" placeholder="enter password" name="password">
        </label>

        <br>

        <input type="submit">
        <p>Don't have an account? <a href="/signup">signup</a></p>
    </form>
</body>
</html>