<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding</title>
</head>
<body>
    <h2>Welcome to Onboarding</h2>
    <p>Proceed to login --> <a href="/login">login</a></p>
</body>
</html>