<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>
    <form action="/signup" method="post">
        <label>name:
            <input type="text" placeholder="enter name" name="name" required>
        </label>   
        <br>
        
        <label>Email:
            <input type="email" placeholder="enter email" name="email" value="<%=locals.email %>" required>
        </label>   
        <br>

        <label>Phone no:
            <input placeholder="enter phone" name="phone" value="<%=locals.phone %>" required>
        </label>   
        <br>

        <label>Password:
            <input type="password" placeholder="enter password" name="password" required>
        </label>   
        <br>

        <input type="submit">
        <br>

        <p>Already have an account? <a href="/login">login</a></p>
    </form>
</body>
</html>